* {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  background-color: #404040;

}

.navbar {
  margin: 0px;
  padding: 0px;

}

.submit-lente {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

.submit-line {
  position: relative;
  width: 200px;
}

.submit-line input {
  width: 100%;
}

.livroin {
  position: relative;
  left: 0;
  right: 0;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  padding-right: auto;

}

.fundopdv {
  color: white;
  margin: 10px;
  border: 1px solid black;
  background-color: gray;
  max-width: 200px;
  font-size: 10px;
}

.fundopdv img {
  width: 100px;
  height: auto;
  align-items: center;
  padding: 20px;
  width: 150px;

}

.rodape {
  border: 1px solid black;
  height: auto;
  background-color: #404040;
  color: white ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 20px;
}

@media(max-width:425px){
  .container{
    width: auto;
  }
  .carousel{
    height: auto;
  }
  .rodape {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 

  }

  .fim {
    margin-bottom: 10px; 
  }
}
@media (max-width: 320px) {
  .livroin {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      overflow-x: auto; 
    }
  }

  .fundopdv {
    
      max-width: 100%; 
    
    
   
  }
  
}
